{% extends 'base.html' %}{%block title%} home{%endblock%}
{% block content %}

<div class="container mt-5">
    <div class="card">
    <div class="alert alert-info">
        <div class="card title">
            <h4 class="mb-3 text-center" >Welcome to Home</h4>

        </div>


   <h5 class="mb-3">What you want to do?</h5>
    <a href="/home" class="btn btn-primary">Stock prediction</a>
    <a href="/intro" class="btn btn-primary">Crypto Prediction</a>
    <a href="/forexpredictintro" class="btn btn-primary">Forex Prediction</a>
        </div>

        </div>





</div>

{% endblock %}