{% extends 'base.html' %}{%block title%} create{%endblock%}
{% block content %}
 <div class="container mt-4">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white text-center">

            <h1>Create</h1>
        </div>
   <form method="post" class="alert alert-info">
       <br>
     <div>
        <label>Name:</label>
        <input type="text" placeholder="Username" name="name" value="{{name}}"/>

         <button type="submit" name="create" class="btn btn-primary">Create</button>
         <a href="/channel" class="btn btn-primary">Back</a>
     </div>

    {% if error %}
     <ul>
        <li>{{error}}</li>
    </ul>
    {% endif %}


   </form>
 </div>

{% endblock %}