{% extends 'base.html' %}
{% block title %}Crypto-Predictor{% endblock %}

{% block content %}

<div class="container mt-5">
  <div class="card shadow p-4">
    <h2 class="text-center text-success mb-4">Prediction Result</h2>

  <h1 class="mb-4 text-center">Prediction for <strong>{{ coin }}</strong>:<br></h1>

    <p class="lead text-center">
    <span class="display-4 text-primary">{{ prediction }}</span>
    </p>
 <div class="text-center">
    <a href="/intro" class="btn btn-primary">Make Another Prediction</a>

   </div>
  </div>
</div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" crossorigin="anonymous"></script>
{% endblock %}